.places {
  padding: 92px 148px 92px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.place {
  display: grid;
  grid-template-columns: 460px auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "title website"
    "image paragraphs";
  column-gap: 48px;
  row-gap: 40px;
}

.place__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
}

.place__image {
  grid-area: image;
  max-width: 100%;
  /* height: 460px; */
  object-fit: contain;
}

.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: end;
}

.place__url-heading {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  /* identical to box height, or 100% */

  letter-spacing: 2px;
  color: #AAAAAA;
}

.place__link {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  /* identical to box height, or 122% */

  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 100%;
}

.place__paragraph {
  margin: 0;
  padding: 0;
  grid-area: paragraph;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
  .places {
    padding-left: 48px;
    padding-right: 48px;
  }

  .place {
    grid-template-columns: 440px auto;
    grid-template-rows: 1fr auto;
    column-gap: 32px;
  }

  .place__paragraphs {
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    padding-left: 24px;
    padding-right: 24px;
  }

  .place {
    grid-template-columns: 340px auto;
    grid-template-rows: 1fr auto;
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__url-heading {
    line-height: 12px;
  }

  .place__paragraphs {
    gap: 25px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    padding-left: 0px;
    padding-right: 0px;
    gap: 50px;
  }

  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .place__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 12px;
  }

  .place__link {
    padding-left: 16px;
    padding-right: 16px;
  }

  .place__paragraphs {
    padding-left: 16px;
    padding-right: 16px;
    gap: 25px;
  }

  .place__paragraph {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    line-height: 163%;
  }
}
