.cover__overlay {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
  box-sizing: border-box;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center center;
  background-size:cover;
  background-repeat: no-repeat;
}
