@import url(../vendor/normalize.css);

.page {
  background-color: #2A2C2F;
  color: #FFFFFF;
}

.header {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 48px 0;
}

.heaader__language-links {
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.heaader__language-link {
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

* {
  border: 1px solid red;
}
