.cover__blackout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 245px 0;
  background-color: rgba(42, 44, 47, 0.3);
  width: 100%;
  height: 100%;
}

.cover__blackout:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1024px) {
  .cover__blackout {
    padding-top: 193px;
    padding-bottom: 193px;
  }
}

@media screen and (max-width: 768px) {
  .cover__blackout {
    padding-top: 115px;
    padding-bottom: 115px;
  }
}

@media screen and (max-width: 320px) {
  .cover__blackout {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
